main {
	padding: 25px;
	display: flex;
	justify-content: center;
	gap: 25px;
}

main.info-display #product-info-container {
	display: flex;
}

main.info-display .separator {
	display: block;
}

.separator {
	display: none;
	width: 1px;
	background-color: rgb(150, 150, 150);
}

#product-list-container {
	display: flex;
}

#product-list-container,
#product-info-container {
	flex-direction: column;
	gap: 10px;
}

#product-list-container {
	width: 1000px;
}

#product-info-container {
	display: none;
	max-width: 350px;
}

#product-info-container h3,
#product-info-container p {
	margin: 0;
}

#product-info-image {
	width: 100%;
}

.product-search {
	display: flex;
	gap: 10px;
}

.product-search input {
	flex: 1;
}

.action-container {
	margin-top: 15px;
	display: flex;
	gap: 10px;
}

.action-container button {
	flex: 1;
}

#product-filter {
	background-color: rgb(225, 225, 225);
	padding: 15px;
	border-radius: 5px;
}

#product-filter h2 {
	margin: 0;
}

#product-filter select {
	width: 100%;
}

#type-filter div {
	display: flex;
	gap: 5px;
	align-items: center;
}

#type-filter input {
	width: 20px;
	height: 20px;
}

#product-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 10px;
}

#product-list div {
	display: flex;
	flex-direction: column;
	width: 175px;
	padding-bottom: 20px;
	border-radius: 5px;
	box-shadow: 0 0px 5px 0 rgba(0, 0, 0, 0.25);
	transition: box-shadow 0.25s ease;
}

#product-list div:hover {
	box-shadow: 0 0px 5px 0 rgba(0, 0, 0, 0.75);
}

#product-list img {
	width: 100%;
	border-radius: 5px;
}

#product-list h4,
#product-list h5,
#product-list p {
	margin: 0 15px;
}

#product-list h5 {
	margin-top: auto;
}

#product-list p,
#product-info-type {
	font-size: 12px;
	margin-bottom: 10px;
}

#product-info-price {
	margin: 5px 0;
}

@media (max-width: 1100px) {
	main.info-display {
		align-items: center;
	}

	main.info-display .separator {
		display: none;
	}

	main.info-display #product-list-container {
		display: none;
	}
}