main {
	padding: 50px 0;
}

.cart-progress-container {
	margin: 50px auto;
	padding: 0 15px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.cart-progress {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 50%;
	height: 2px;
	background-color: rgb(150, 150, 150);
}

.cart-progress div {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: 40px;
	border: 1px solid rgb(150, 150, 150);
	border-radius: 50%;
	background-color: white;
	color: rgb(150, 150, 150);
}

.cart-progress .active-step {
	background-color: rgb(0, 200, 0);
	border-color: rgb(0, 200, 0);
}

.cart-progress .active-step i {
	color: white;
}