@keyframes slideAnimation {
	0%, 20% { transform: translateX(0); }
	25%, 45% { transform: translateX(-25%); }
	50%, 70% { transform: translateX(-50%); }
	75%, 95% { transform: translateX(-75%); }
	100% { transform: translateX(0); }
}

.slide-show {
	display: flex;
	width: 400%;
	height: 100%;
	animation: slideAnimation 16s infinite ease-in-out;
}

.slide-item {
	position: relative;
	width: 25%;
	height: 100%;
	flex-shrink: 0;
}

.slide-item div {
	position: absolute;
	right: 50px;
	bottom: 50px;
	max-width: 525px;
	color: white;
	text-align: right;
	text-shadow: 0 0 5px black, 0 0 5px black;
	display: flex;
	flex-direction: column;
	justify-content: end;
}

.slide-item h1 {
	margin: 0;
}

.slide-item button {
	font-size: 16px;
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
}

@media (max-width: 650px) {
	.slide-item div {
		left: 50px;
		right: 50px;
		top: 50px;
		bottom: 50px;
		text-align: center;
		justify-content: center;
	}
}

main {
	padding: 50px;
}

main h1 {
	text-align: center;
}

main section {
	background-image: url(assets/imgs/trangchu/background.png);
	display: flex;
	width: 100%;
	border-radius: 5px;
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
	margin-bottom: 25px;
	text-align: center;
}

main section img {
	height: 500px;
}

main section h1 {
	margin: 0;
}

main section div {
	margin: 0 50px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.left-section img {
	border-radius: 5px 0 0 5px;
}

.right-section img {
	order: 2;
	border-radius: 0 5px 5px 0;
}

@media (max-width: 1215px) {
	main section {
		flex-direction: column;
		padding-bottom: 50px;
	}

	main section img {
		width: 100%;
		height: auto;
		margin-bottom: 50px;
	}

	.left-section img, .right-section img {
		order: 0;
		border-radius: 5px 5px 0 0;
	}
}

.news-container {
	margin-top: 25px;
}

.news {
	display: flex;
	gap: 25px;
}

.news:not(:last-child) {
	padding-bottom: 20px;
	margin-bottom: 20px;
	border-bottom: 1px solid rgb(225, 225, 225);
}

.news h2 {
	margin: 0;
}

.news a {
	text-decoration: none;
}

.news a:hover {
	text-decoration: underline;
}

.news p {
	margin-top: 5px;
}

.news img {
	border-radius: 5px;
	height: 200px;
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
}

.news div {
	display: flex;
	flex-direction: column;
}

@media (max-width: 1365px) {
	.news {
		flex-direction: column;
	}

	.news img {
		height: auto;
	}
}